.main-text{
    stroke: #fff;
    stroke-width: 0.1px;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation:  dash 8s forwards;
    fill: transparent;
}

@keyframes dash {

    20%{
        fill: transparent;
        stroke-width: 0.5px;
    }
    50%{
        fill: #fff;
        stroke-width: 0px;
    }
100% { 
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
    fill: #fff;
    stroke-width: 0px;
}
}


.splash{
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, rgb(255, 255, 255) -100%, var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
}
.splash p{
    display: none;
    font-size: 30px;
    font-weight: 100;
    color: var(--light);
}