.main-text{
    stroke: #fff;
    stroke-width: 0.1px;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation:  dash 8s forwards;
    animation-delay: 4s;
    fill: transparent;
}

@keyframes dash {

    20%{
        fill: transparent;
        stroke-width: 0.5px;
    }
    50%{
        fill: #fff;
        stroke-width: 0px;
    }
100% { 
    stroke-dashoffset: 0;
    stroke-dasharray: 200;
    fill: #fff;
    stroke-width: 0px;
}
}


.splash{
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, rgb(255, 255, 255) -100%, var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
}
.splash p{
    display:none;
    font-size: 30px;
    font-weight: 100;
    color: var(--light);
    text-align: center;
}


.color-box{
    z-index: 10;
    width: 100px;
    height: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
.color-box div{
    width: 20px;
    height: 20px;
}
.color-box h6{
    position: absolute;
    top: 32px;
    width: 100px;
    line-height: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: 400;
    outline: 1px solid #fff;
    box-shadow: 0 0 1px 2px var(--main-color);
    text-shadow: 0 0 5px var(--main-color);
    word-wrap: nowrap;
    color: #fff;
}
.change-red{
    background: #ff7979;
}
.change-blue{
    background: #74b9ff;
}
.change-purple{
    background: #9C88FF;
}
.change-green{
    background: #1abc9c;
}
.change-dark{
    background: #333;
}

.clickEffect{
    position: fixed;
    /* border: 1px solid var(--main-color); */
    background: var(--main-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: 1s;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.3;
    animation: clickEffect 3s backwards;
}   
@keyframes clickEffect {
    100%{
        
        width: 300px;
        height: 300px;
        opacity: 0;
        background: var(--light);
        /* border: 1px solid var(--main-color); */
    }
}

.startEffect{
    position: absolute;
    /* border: 1px solid var(--main-color); */
    background: var(--main-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: 1s;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.3;
    animation: clickEffect 3s backwards;
}   
@keyframes clickEffect {
    100%{
        
        width: 300px;
        height: 300px;
        opacity: 0;
        background: var(--light);
        /* border: 1px solid var(--main-color); */
    }
}